.Rproj.user
.Rhistory
.RData
.Ruserdata
*.lnk
docs
*.code-workspace
R/plot.ped.R
R/plot.ped.X
CRAN-SUBMISSION
tests/testthat/Rplots.pdf
potter_revised.pdf
Rplot.pdf
Rplot02.pdf
Rplot01.pdf
Rplot03.pdf
/revdep
vignettes/articles/_paper.pdf

*.log
vignettes/articles/paper.bcf
vignettes/articles/_paper.knit.md
vignettes/articles/paper.aux
vignettes/articles/paper.tex
vignettes/articles/paper.log
optimizing plotly testing.R
optimizing plotly testing.X
data-raw/catlogo.svg
vignettes/articles/ggpedigree_config.rds
*DESKTOP-16M0RPI's conflicted*
