.Rproj.user
.Rhistory
.RData
.Ruserdata
*.lnk
docs
*.code-workspace
R/plot.ped.R
R/plot.ped.X
CRAN-SUBMISSION
data-raw/catlogo.svg
data-raw/ARS_dryadcopy.xlsx
data-raw/Pedigree_dryadcopy.xlsx
data-raw/LRS_fordryad.xlsx
data-raw/cat.svg
tests/testthat/Rplots.pdf
potter_revised.pdf
Rplot.pdf
Rplot02.pdf
Rplot01.pdf
Rplot03.pdf
/revdep
